{
  "openapi": "3.1.0",
  "info": {
    "title": "other",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.aimtell.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "name": "X-Authorization-Api-Key",
        "in": "header",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/prod/report/dashboard/{id}": {
      "get": {
        "summary": "Analytics Over Time (Specific Site)",
        "description": "Shows a report of specific metrics over time.",
        "operationId": "api-new-subscribers-over-time-1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of analytics data to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "newsubscribers",
                "unsubscribes",
                "notifications",
                "notificationclicks",
                "optin",
                "inactive",
                "revenue"
              ],
              "x-enum-descriptions": {
                "newsubscribers": "New Subscribers",
                "unsubscribes": "Unsubscribes (manual)",
                "notifications": "Notifications Sent",
                "notificationclicks": "Notifications Clicked",
                "optin": "Optin Rate Percentage",
                "inactive": "Unsubscribes (inactive)",
                "revenue": "Monetization Revenue"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Format: yyyy-mm-dd (e.g. 2020-06-01)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Format: yyyy-mm-dd (e.g. 2020-06-16)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "06/01/2020": 120,
                      "06/02/2020": 78,
                      "06/03/2020": 18,
                      "06/04/2020": 107,
                      "06/05/2020": 93,
                      "06/06/2020": 124,
                      "06/07/2020": 38,
                      "06/08/2020": 86,
                      "06/09/2020": 116,
                      "06/10/2020": 149,
                      "06/11/2020": 112,
                      "06/12/2020": 77,
                      "06/13/2020": 129,
                      "06/14/2020": 66,
                      "06/15/2020": 109,
                      "06/16/2020": 87
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "06/01/2020": {
                      "type": "integer",
                      "example": 120,
                      "default": 0
                    },
                    "06/02/2020": {
                      "type": "integer",
                      "example": 78,
                      "default": 0
                    },
                    "06/03/2020": {
                      "type": "integer",
                      "example": 18,
                      "default": 0
                    },
                    "06/04/2020": {
                      "type": "integer",
                      "example": 107,
                      "default": 0
                    },
                    "06/05/2020": {
                      "type": "integer",
                      "example": 93,
                      "default": 0
                    },
                    "06/06/2020": {
                      "type": "integer",
                      "example": 124,
                      "default": 0
                    },
                    "06/07/2020": {
                      "type": "integer",
                      "example": 38,
                      "default": 0
                    },
                    "06/08/2020": {
                      "type": "integer",
                      "example": 86,
                      "default": 0
                    },
                    "06/09/2020": {
                      "type": "integer",
                      "example": 116,
                      "default": 0
                    },
                    "06/10/2020": {
                      "type": "integer",
                      "example": 149,
                      "default": 0
                    },
                    "06/11/2020": {
                      "type": "integer",
                      "example": 112,
                      "default": 0
                    },
                    "06/12/2020": {
                      "type": "integer",
                      "example": 77,
                      "default": 0
                    },
                    "06/13/2020": {
                      "type": "integer",
                      "example": 129,
                      "default": 0
                    },
                    "06/14/2020": {
                      "type": "integer",
                      "example": 66,
                      "default": 0
                    },
                    "06/15/2020": {
                      "type": "integer",
                      "example": 109,
                      "default": 0
                    },
                    "06/16/2020": {
                      "type": "integer",
                      "example": 87,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Analytics"
        ]
      }
    },
    "/prod/report/dashboard": {
      "get": {
        "summary": "Analytics Over Time (All Sites)",
        "description": "Shows a report of specific metrics over time.",
        "operationId": "api-analytics-over-time-all-sites",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of analytics data to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "newsubscribers",
                "unsubscribes",
                "notifications",
                "notificationclicks",
                "optin",
                "inactive",
                "revenue"
              ],
              "x-enum-descriptions": {
                "newsubscribers": "New Subscribers",
                "unsubscribes": "Unsubscribes (manual)",
                "notifications": "Notifications Sent",
                "notificationclicks": "Notifications Clicked",
                "optin": "Optin Rate Percentage",
                "inactive": "Unsubscribes (inactive)",
                "revenue": "Monetization Revenue"
              }
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Format: yyyy-mm-dd (e.g. 2020-06-01)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Format: yyyy-mm-dd (e.g. 2020-06-17)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "breakdown",
            "in": "query",
            "description": "Enable per site breakdown",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "06/01/2020": 0,
                      "06/02/2020": 0,
                      "06/03/2020": 0,
                      "06/04/2020": 1,
                      "06/05/2020": 0,
                      "06/06/2020": 33,
                      "06/07/2020": 0,
                      "06/08/2020": 5,
                      "06/09/2020": 1,
                      "06/10/2020": 590,
                      "06/11/2020": 0,
                      "06/12/2020": 0,
                      "06/13/2020": 551,
                      "06/14/2020": 0,
                      "06/15/2020": 331,
                      "06/16/2020": 31,
                      "06/17/2020": 3320
                    }
                  },
                  "breakdown enabled": {
                    "value": {
                      "999": {
                        "06/01/2020": 0,
                        "06/02/2020": 0,
                        "06/03/2020": 0,
                        "06/04/2020": 0,
                        "06/05/2020": 0,
                        "06/06/2020": 0,
                        "06/07/2020": 0,
                        "06/08/2020": 0,
                        "06/09/2020": 0,
                        "06/10/2020": 0,
                        "06/11/2020": 0,
                        "06/12/2020": 0,
                        "06/13/2020": 0,
                        "06/14/2020": 0,
                        "06/15/2020": 0,
                        "06/16/2020": 0,
                        "06/17/2020": 0
                      },
                      "2459": {
                        "06/01/2020": 0,
                        "06/02/2020": 0,
                        "06/03/2020": 62,
                        "06/04/2020": 0,
                        "06/05/2020": 1,
                        "06/06/2020": 0,
                        "06/07/2020": 0,
                        "06/08/2020": 0,
                        "06/09/2020": 22,
                        "06/10/2020": 41,
                        "06/11/2020": 10,
                        "06/12/2020": 43,
                        "06/13/2020": 0,
                        "06/14/2020": 0,
                        "06/15/2020": 102,
                        "06/16/2020": 69,
                        "06/17/2020": 84
                      },
                      "17162": {
                        "06/01/2020": 0,
                        "06/02/2020": 0,
                        "06/03/2020": 0,
                        "06/04/2020": 0,
                        "06/05/2020": 0,
                        "06/06/2020": 0,
                        "06/07/2020": 0,
                        "06/08/2020": 0,
                        "06/09/2020": 0,
                        "06/10/2020": 0,
                        "06/11/2020": 0,
                        "06/12/2020": 0,
                        "06/13/2020": 0,
                        "06/14/2020": 0,
                        "06/15/2020": 0,
                        "06/16/2020": 0,
                        "06/17/2020": 0
                      }
                    }
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "06/01/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/02/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/03/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/04/2020": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "06/05/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/06/2020": {
                          "type": "integer",
                          "example": 33,
                          "default": 0
                        },
                        "06/07/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/08/2020": {
                          "type": "integer",
                          "example": 5,
                          "default": 0
                        },
                        "06/09/2020": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "06/10/2020": {
                          "type": "integer",
                          "example": 590,
                          "default": 0
                        },
                        "06/11/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/12/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/13/2020": {
                          "type": "integer",
                          "example": 551,
                          "default": 0
                        },
                        "06/14/2020": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "06/15/2020": {
                          "type": "integer",
                          "example": 331,
                          "default": 0
                        },
                        "06/16/2020": {
                          "type": "integer",
                          "example": 31,
                          "default": 0
                        },
                        "06/17/2020": {
                          "type": "integer",
                          "example": 3320,
                          "default": 0
                        }
                      }
                    },
                    {
                      "title": "breakdown enabled",
                      "type": "object",
                      "properties": {
                        "999": {
                          "type": "object",
                          "properties": {
                            "06/01/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/02/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/03/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/04/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/05/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/06/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/07/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/08/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/09/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/10/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/11/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/12/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/13/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/14/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/15/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/16/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/17/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        },
                        "2459": {
                          "type": "object",
                          "properties": {
                            "06/01/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/02/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/03/2020": {
                              "type": "integer",
                              "example": 62,
                              "default": 0
                            },
                            "06/04/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/05/2020": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "06/06/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/07/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/08/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/09/2020": {
                              "type": "integer",
                              "example": 22,
                              "default": 0
                            },
                            "06/10/2020": {
                              "type": "integer",
                              "example": 41,
                              "default": 0
                            },
                            "06/11/2020": {
                              "type": "integer",
                              "example": 10,
                              "default": 0
                            },
                            "06/12/2020": {
                              "type": "integer",
                              "example": 43,
                              "default": 0
                            },
                            "06/13/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/14/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/15/2020": {
                              "type": "integer",
                              "example": 102,
                              "default": 0
                            },
                            "06/16/2020": {
                              "type": "integer",
                              "example": 69,
                              "default": 0
                            },
                            "06/17/2020": {
                              "type": "integer",
                              "example": 84,
                              "default": 0
                            }
                          }
                        },
                        "17162": {
                          "type": "object",
                          "properties": {
                            "06/01/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/02/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/03/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/04/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/05/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/06/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/07/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/08/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/09/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/10/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/11/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/12/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/13/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/14/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/15/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/16/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "06/17/2020": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Analytics"
        ]
      }
    },
    "/prod/log/notifications/{id}": {
      "get": {
        "summary": "Get Notification Logs",
        "description": "Fetches Notification Logs ( Last 7 Days ) \n\nNote: this is a sample of notification logs; this will not return a comprehensive log of all notifications to all subscribers.",
        "operationId": "get-notification-logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscriber_uid",
            "in": "query",
            "description": "Optionally filter by a specific subscriber",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip for pagination (offset).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "uid": "NA",
                        "idSite": "2459",
                        "subscriber_uid": "f8446485-d5bb-97d0-94c1-de3d0dbd099f",
                        "title": "\ud83d\ude80READ: NASA Names Joel Montalbano I",
                        "body": "\u2757Click here to read more... \u2757",
                        "link": "http://www.nasa.gov/press-release/nasa-names-joel-montalbano-international-space-station-program-manager",
                        "status": 22,
                        "campaignId": 2289,
                        "type": 4,
                        "createdAt": "2020-06-30 15:00",
                        "sent_date": "2020-06-30 15:00"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "example": "NA"
                      },
                      "idSite": {
                        "type": "string",
                        "example": "2459"
                      },
                      "subscriber_uid": {
                        "type": "string",
                        "example": "f8446485-d5bb-97d0-94c1-de3d0dbd099f"
                      },
                      "title": {
                        "type": "string",
                        "example": "\ud83d\ude80READ: NASA Names Joel Montalbano I"
                      },
                      "body": {
                        "type": "string",
                        "example": "\u2757Click here to read more... \u2757"
                      },
                      "link": {
                        "type": "string",
                        "example": "http://www.nasa.gov/press-release/nasa-names-joel-montalbano-international-space-station-program-manager"
                      },
                      "status": {
                        "type": "integer",
                        "example": 22,
                        "default": 0
                      },
                      "campaignId": {
                        "type": "integer",
                        "example": 2289,
                        "default": 0
                      },
                      "type": {
                        "type": "integer",
                        "example": 4,
                        "default": 0
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2020-06-30 15:00"
                      },
                      "sent_date": {
                        "type": "string",
                        "example": "2020-06-30 15:00"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Logs"
        ]
      }
    },
    "/prod/log/attributes/{id}": {
      "get": {
        "summary": "Get Attributes Logs",
        "description": "Fetches Attributes Logs",
        "operationId": "get-attributes-logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip for pagination (offset).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 12369,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "ef0aefee2751",
                        "attribute": "age",
                        "value": "66",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12370,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "ef0aefee2751",
                        "attribute": "gender",
                        "value": "male",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12372,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "ddaaa3f43dc3",
                        "attribute": "age",
                        "value": "28",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12373,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "ddaaa3f43dc3",
                        "attribute": "gender",
                        "value": "male",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12375,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "75d29d3ba7cb",
                        "attribute": "age",
                        "value": "40",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12376,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "75d29d3ba7cb",
                        "attribute": "gender",
                        "value": "male",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12378,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "7584af350185",
                        "attribute": "age",
                        "value": "28",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12379,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "7584af350185",
                        "attribute": "gender",
                        "value": "male",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12381,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "530de45d4f60",
                        "attribute": "age",
                        "value": "40",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      },
                      {
                        "id": 12382,
                        "owner_uid": "76cedd11b19e",
                        "idSite": 179,
                        "subscriber_uid": "530de45d4f60",
                        "attribute": "gender",
                        "value": "male",
                        "createdAt": "2015-12-28 09:54",
                        "updatedAt": null
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 12369,
                        "default": 0
                      },
                      "owner_uid": {
                        "type": "string",
                        "example": "76cedd11b19e"
                      },
                      "idSite": {
                        "type": "integer",
                        "example": 179,
                        "default": 0
                      },
                      "subscriber_uid": {
                        "type": "string",
                        "example": "ef0aefee2751"
                      },
                      "attribute": {
                        "type": "string",
                        "example": "age"
                      },
                      "value": {
                        "type": "string",
                        "example": "66"
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2015-12-28 09:54"
                      },
                      "updatedAt": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Logs"
        ]
      }
    },
    "/prod/log/pageviews/{id}": {
      "get": {
        "summary": "Get Pageview Logs",
        "description": "Fetches Pageview Logs",
        "operationId": "get-pageview-logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip for pagination (offset).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 22931,
                        "id_visit": 7176,
                        "idSite": 179,
                        "subscriber_uid": "530de45d4f60",
                        "page_title": "Sample Page #2",
                        "page_url": "https://demo.aimtell.com/page2",
                        "createdAt": "2015-12-28 09:54"
                      },
                      {
                        "id": 22930,
                        "id_visit": 7175,
                        "idSite": 179,
                        "subscriber_uid": "7584af350185",
                        "page_title": "Sample Page #3",
                        "page_url": "https://demo.aimtell.com/page2",
                        "createdAt": "2015-12-28 09:54"
                      },
                      {
                        "id": 22929,
                        "id_visit": 7174,
                        "idSite": 179,
                        "subscriber_uid": "75d29d3ba7cb",
                        "page_title": "Sample Page #4",
                        "page_url": "https://demo.aimtell.com/page2",
                        "createdAt": "2015-12-28 09:54"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 22931,
                        "default": 0
                      },
                      "id_visit": {
                        "type": "integer",
                        "example": 7176,
                        "default": 0
                      },
                      "idSite": {
                        "type": "integer",
                        "example": 179,
                        "default": 0
                      },
                      "subscriber_uid": {
                        "type": "string",
                        "example": "530de45d4f60"
                      },
                      "page_title": {
                        "type": "string",
                        "example": "Sample Page #2"
                      },
                      "page_url": {
                        "type": "string",
                        "example": "https://demo.aimtell.com/page2"
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2015-12-28 09:54"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Logs"
        ]
      }
    },
    "/prod/log/events/{id}": {
      "get": {
        "summary": "Get Event Logs",
        "description": "Fetches the Event Log",
        "operationId": "api-get-event-logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip for pagination (offset).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "subscriber_uid": "424cd240-02ae-2329-33ca-993723601262",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:43",
                        "event_category": "Item",
                        "event_action": "Add To Cart",
                        "event_label": "Fair Fray Skinnies",
                        "event_value": null
                      },
                      {
                        "subscriber_uid": "b5eadeb0-cb27-5797-078c-3e17ff394f53",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:43",
                        "event_category": "Item",
                        "event_action": "Purchased",
                        "event_label": "Bring It Back Chiffon Top",
                        "event_value": 10
                      },
                      {
                        "subscriber_uid": "b5eadeb0-cb27-5797-078c-3e17ff394f53",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:43",
                        "event_category": "Item",
                        "event_action": "Purchased",
                        "event_label": "Hang Around Dolman Top",
                        "event_value": 4
                      },
                      {
                        "subscriber_uid": "b5eadeb0-cb27-5797-078c-3e17ff394f53",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:43",
                        "event_category": "Item",
                        "event_action": "Purchased",
                        "event_label": "Hang Around Dolman Top",
                        "event_value": 4
                      },
                      {
                        "subscriber_uid": "424cd240-02ae-2329-33ca-993723601262",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:40",
                        "event_category": "Item",
                        "event_action": "Add To Cart",
                        "event_label": "Work It Out Tank",
                        "event_value": null
                      },
                      {
                        "subscriber_uid": "87c0cd26-4426-2806-9f6e-c7741f366824",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:39",
                        "event_category": "Item",
                        "event_action": "Add To Cart",
                        "event_label": "Com-Pleat Me Top",
                        "event_value": null
                      },
                      {
                        "subscriber_uid": "87c0cd26-4426-2806-9f6e-c7741f366824",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:39",
                        "event_category": "Item",
                        "event_action": "Add To Cart",
                        "event_label": "Say My Name Ribbed Bodysuit",
                        "event_value": null
                      },
                      {
                        "subscriber_uid": "87c0cd26-4426-2806-9f6e-c7741f366824",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:39",
                        "event_category": "Item",
                        "event_action": "Add To Cart",
                        "event_label": "Patch Me Do It Denim Jacket",
                        "event_value": null
                      },
                      {
                        "subscriber_uid": "a1b80792-68ad-d8d7-82a8-4e8902ece769",
                        "id_site": 1689,
                        "createdAt": "2017-08-30 11:39",
                        "event_category": "Item",
                        "event_action": "Add To Cart",
                        "event_label": "Burn Free Cut Out Tee",
                        "event_value": null
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subscriber_uid": {
                        "type": "string",
                        "example": "424cd240-02ae-2329-33ca-993723601262"
                      },
                      "id_site": {
                        "type": "integer",
                        "example": 1689,
                        "default": 0
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2017-08-30 11:43"
                      },
                      "event_category": {
                        "type": "string",
                        "example": "Item"
                      },
                      "event_action": {
                        "type": "string",
                        "example": "Add To Cart"
                      },
                      "event_label": {
                        "type": "string",
                        "example": "Fair Fray Skinnies"
                      },
                      "event_value": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Logs"
        ]
      }
    },
    "/prod/log/alias/{id}": {
      "get": {
        "summary": "Get Alias Logs",
        "description": "Fetches the Alias Log",
        "operationId": "api-get-alias-logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip for pagination (offset).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "idSite": 999,
                        "subscriber_uid": "2287eafd-495a-56f1-5c67-bd490642fdf7",
                        "user": "3eba7a5dff64",
                        "email_hash": "f69dccc7dd262642e8b3fe77c4d46dd2",
                        "createdAt": "2021-12-09T15:04Z",
                        "updatedAt": "2021-12-10T15:52Z"
                      },
                      {
                        "idSite": 999,
                        "subscriber_uid": "39370237-33f1-d6c7-2b5d-d4cdb8bb269d",
                        "user": "78909fb08639",
                        "email_hash": "afaab0720b95151508602cb7b097ee5d",
                        "createdAt": "2020-10-14T15:54Z",
                        "updatedAt": "2021-12-10T15:09Z"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idSite": {
                        "type": "integer",
                        "example": 999,
                        "default": 0
                      },
                      "subscriber_uid": {
                        "type": "string",
                        "example": "2287eafd-495a-56f1-5c67-bd490642fdf7"
                      },
                      "user": {
                        "type": "string",
                        "example": "3eba7a5dff64"
                      },
                      "email_hash": {
                        "type": "string",
                        "example": "f69dccc7dd262642e8b3fe77c4d46dd2"
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2021-12-09T15:04Z"
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2021-12-10T15:52Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Logs"
        ]
      }
    },
    "/prod/pixels/{idSite}": {
      "get": {
        "summary": "Get Pixels",
        "description": "Fetches the cross domain tracking pixels for a website",
        "operationId": "api-get-pixels",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Website ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 123,
                        "idSite": 179,
                        "name": "Tracking Pixel",
                        "value": "{\"event_category\":\"video\",\"event_action\":\"watched\",\"event_label\":\"promo\",\"event_value\":2}",
                        "active": "1",
                        "createdAt": "2021-01-15 22:26:16"
                      },
                      {
                        "id": 456,
                        "idSite": 179,
                        "name": "Pixel 2",
                        "value": "{\"event_category\":\"Item\",\"event_action\":\"Purchased\",\"event_label\":\"shoes\",\"event_value\":\"10\"}",
                        "active": "1",
                        "createdAt": "2021-01-15 22:26:16"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Pixels"
        ]
      },
      "post": {
        "summary": "Create Pixel",
        "description": "Creates a cross domain tracking pixel",
        "operationId": "api-create-pixel",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Website ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the pixel"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Succesfully added pixel.",
                      "id": 123
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Succesfully added pixel."
                    },
                    "id": {
                      "type": "integer",
                      "example": 123,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Pixels"
        ]
      }
    },
    "/prod/pixel/{id}": {
      "get": {
        "summary": "Get Pixel",
        "description": "Fetches a cross domain tracking pixel by ID",
        "operationId": "api-get-pixel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pixel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 123,
                      "idSite": 147,
                      "name": "pixel",
                      "value": "{\"event_category\":\"category\",\"event_action\":\"action\",\"event_label\":\"label\",\"event_value\":\"3\"}",
                      "active": "1",
                      "createdAt": "2020-08-18 15:11:25"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Pixels"
        ]
      },
      "post": {
        "summary": "Update Pixel",
        "description": "Updates a cross domain tracking pixel by ID",
        "operationId": "api-update-pixel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pixel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "value"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the pixel"
                  },
                  "value": {
                    "type": "object",
                    "required": [
                      "event_category",
                      "event_action"
                    ],
                    "properties": {
                      "event_category": {
                        "type": "string",
                        "description": "Event Category"
                      },
                      "event_action": {
                        "type": "string",
                        "description": "Event Action"
                      },
                      "event_label": {
                        "type": "string",
                        "description": "Event Label"
                      },
                      "event_value": {
                        "type": "integer",
                        "description": "Event Value"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Succesfully updated pixel."
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Succesfully updated pixel."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Pixels"
        ]
      },
      "delete": {
        "summary": "Delete Pixel",
        "description": "Deletes a cross domain tracking pixel by ID",
        "operationId": "api-delete-pixel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Pixel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Successfully removed pixel."
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successfully removed pixel."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Pixels"
        ]
      }
    },
    "/prod/prompts/{idSite}": {
      "get": {
        "summary": "Get Opt-in Prompts",
        "description": "Fetches all opt-in prompts for a website",
        "operationId": "api-get-opt-in-prompts",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Website ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": 123,
                        "uid": "12abcd3456e7",
                        "idSite": 147,
                        "name": "Prompt 1",
                        "header_text": "Want updates?",
                        "header_text_color": "#000000",
                        "body_text": "Get the latest and greatest",
                        "body_text_color": "#000000",
                        "cancel_button_text": "Not for me",
                        "cancel_button_text_color": "#4e99cf",
                        "cancel_button_color": "#ffffff",
                        "approve_button_text": "Yes, please",
                        "approve_button_text_color": "#4e99cf",
                        "approve_button_color": "#ffffff",
                        "active": 1,
                        "icon_url": "https://cdn.aimtell.io/user/uploads/147-1588184063.png",
                        "prompt_color": null,
                        "prompt_type": 3,
                        "prompt_position": null,
                        "prompt_sticky": 0,
                        "createdAt": "2020-04-29 18:13:33",
                        "updatedAt": "2020-07-28 18:39:51"
                      },
                      {
                        "id": 234,
                        "uid": "12abcd3456e7",
                        "idSite": 20599,
                        "name": "Safari Prompt",
                        "header_text": "Hi there!",
                        "header_text_color": "#000000",
                        "body_text": "Would you like to receive notifications on deals and sales?",
                        "body_text_color": "#000000",
                        "cancel_button_text": "No, thanks",
                        "cancel_button_text_color": "#4e99cf",
                        "cancel_button_color": "#ffffff",
                        "approve_button_text": "Yes, please!",
                        "approve_button_text_color": "#4e99cf",
                        "approve_button_color": "#ffffff",
                        "active": 1,
                        "icon_url": "https://cdn.aimtell.io/user/uploads/siteicons.aimtell.com/icon_147_1588190286.png",
                        "prompt_color": null,
                        "prompt_type": 3,
                        "prompt_position": null,
                        "prompt_sticky": 0,
                        "createdAt": "2020-06-01 14:45:55",
                        "updatedAt": "2020-06-01 14:46:29"
                      },
                      {
                        "id": 456,
                        "uid": "12abcd3456e7",
                        "idSite": 147,
                        "name": "Prompt 2",
                        "header_text": "",
                        "header_text_color": "#000000",
                        "body_text": "Would you like to receive the latest updates?",
                        "body_text_color": "#000000",
                        "cancel_button_text": "No, thanks",
                        "cancel_button_text_color": "#4e99cf",
                        "cancel_button_color": "#ffffff",
                        "approve_button_text": "Yes, please!",
                        "approve_button_text_color": "#4e99cf",
                        "approve_button_color": "#ffffff",
                        "active": 1,
                        "icon_url": "https://cdn.aimtell.io/user/uploads/siteicons.aimtell.com/icon_147_1588190286.png",
                        "prompt_color": null,
                        "prompt_type": 1,
                        "prompt_position": null,
                        "prompt_sticky": 0,
                        "createdAt": "2020-07-15 16:46:18",
                        "updatedAt": "2020-07-22 19:26:52"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 123,
                        "default": 0
                      },
                      "uid": {
                        "type": "string",
                        "example": "12abcd3456e7"
                      },
                      "idSite": {
                        "type": "integer",
                        "example": 147,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "Prompt 1"
                      },
                      "header_text": {
                        "type": "string",
                        "example": "Want updates?"
                      },
                      "header_text_color": {
                        "type": "string",
                        "example": "#000000"
                      },
                      "body_text": {
                        "type": "string",
                        "example": "Get the latest and greatest"
                      },
                      "body_text_color": {
                        "type": "string",
                        "example": "#000000"
                      },
                      "cancel_button_text": {
                        "type": "string",
                        "example": "Not for me"
                      },
                      "cancel_button_text_color": {
                        "type": "string",
                        "example": "#4e99cf"
                      },
                      "cancel_button_color": {
                        "type": "string",
                        "example": "#ffffff"
                      },
                      "approve_button_text": {
                        "type": "string",
                        "example": "Yes, please"
                      },
                      "approve_button_text_color": {
                        "type": "string",
                        "example": "#4e99cf"
                      },
                      "approve_button_color": {
                        "type": "string",
                        "example": "#ffffff"
                      },
                      "active": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "icon_url": {
                        "type": "string",
                        "example": "https://cdn.aimtell.io/user/uploads/147-1588184063.png"
                      },
                      "prompt_color": {},
                      "prompt_type": {
                        "type": "integer",
                        "example": 3,
                        "default": 0
                      },
                      "prompt_position": {},
                      "prompt_sticky": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2020-04-29 18:13:33"
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2020-07-28 18:39:51"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Prompts"
        ]
      }
    },
    "/prod/prompts/{idSite}/default-condition": {
      "get": {
        "summary": "Get Default Opt-in Prompt Conditions",
        "description": "Fetches the default opt-in prompt conditions for a website",
        "operationId": "api-get-default-opt-in-prompt-conditions",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Website ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": 1234,
                      "page": "*",
                      "promptId": 5678,
                      "autoPrompt": 1,
                      "idSite": 179,
                      "device_type": "any",
                      "browser": "any",
                      "seconds_delay": null,
                      "scroll_delay": null,
                      "pages_delay": null,
                      "cookie_required": null,
                      "disabled": null,
                      "priority": 0,
                      "createdAt": "2020-04-29 18:13:06",
                      "updatedAt": "2020-08-27 19:42:55"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1234,
                      "default": 0
                    },
                    "page": {
                      "type": "string",
                      "example": "*"
                    },
                    "promptId": {
                      "type": "integer",
                      "example": 5678,
                      "default": 0
                    },
                    "autoPrompt": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "idSite": {
                      "type": "integer",
                      "example": 179,
                      "default": 0
                    },
                    "device_type": {
                      "type": "string",
                      "example": "any"
                    },
                    "browser": {
                      "type": "string",
                      "example": "any"
                    },
                    "seconds_delay": {},
                    "scroll_delay": {},
                    "pages_delay": {},
                    "cookie_required": {},
                    "disabled": {},
                    "priority": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2020-04-29 18:13:06"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "2020-08-27 19:42:55"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid token."
                    },
                    "error_code": {
                      "type": "integer",
                      "example": 71831,
                      "default": 0
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Prompts"
        ]
      }
    },
    "/prod/prompt/{id}": {
      "get": {
        "summary": "Get Opt-in Prompt",
        "description": "Fetches an opt-in prompt by ID",
        "operationId": "api-get-opt-in-prompt",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Prompt ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "123",
                      "uid": "12abcd3456e7",
                      "idSite": "147",
                      "name": "Prompt 1",
                      "header_text": "Want updates?",
                      "header_text_color": "#000000",
                      "body_text": "Get the latest and greatest",
                      "body_text_color": "#000000",
                      "cancel_button_text": "No, thanks",
                      "cancel_button_text_color": "#4e99cf",
                      "cancel_button_color": "#ffffff",
                      "approve_button_text": "Yes, please",
                      "approve_button_text_color": "#4e99cf",
                      "approve_button_color": "#ffffff",
                      "active": "1",
                      "icon_url": "https://cdn.aimtell.io/user/uploads/147-1588184063.png",
                      "prompt_color": "",
                      "prompt_type": "3",
                      "prompt_position": "",
                      "prompt_sticky": "0",
                      "createdAt": "2020-04-29 18:13:33",
                      "updatedAt": "2020-07-28 18:39:51",
                      "code": "<style>@-webkit-keyframes _aimtellShowPushBox {\n\t\t\t    from {top: 0;}\n\t\t\t    to {top: 15px;}\n\t\t\t}\n\n\t\t\t@keyframes _aimtellShake {\n\t\t\t  10%, 90% {\n\t\t\t    transform: translate3d(-1px, 0, 0);\n\t\t\t  }\n\t\t\t  \n\t\t\t  20%, 80% {\n\t\t\t    transform: translate3d(1px, 0, 0);\n\t\t\t  }\n\n\t\t\t  30%, 50%, 70% {\n\t\t\t    transform: translate3d(-1px, 0, 0);\n\t\t\t  }\n\n\t\t\t  40%, 60% {\n\t\t\t    transform: translate3d(1px, 0, 0);\n\t\t\t  }\n\t\t\t} \n\t\t\t\tpushboxcontainer{\n\t\t\t\t    position:fixed;\n\t\t\t\t    z-index:1000201;\n\t\t\t\t    top:15px;\n\t\t\t\t    left:35%;\n\t\t\t\t    font-family:times;\n\t\t\t\t    display: block;\n\t\t\t\t    -webkit-animation: _aimtellShowPushBox 1s forwards;\n\t\t\t\t    animation: _aimtellShowPushBox 1s forwards;\n\n\t\t\t\t}\n\t\t\t\tpushbox {\n\t\t\t\t    position: relative;\n\t\t\t\t    background: #f7f7f7;\n\t\t\t\t    -webkit-border-radius: 4px;\n\t\t\t\t    -moz-border-radius: 4px;\n\t\t\t\t    border-radius: 4px; \n\t\t\t\t    width: 450px; \n\t\t\t\t    padding: 10px;\n\t\t\t\t    padding-top:20px;\n\t\t\t\t    display:block;\n\t\t\t\t    border:2px solid #E9E9E9;\n\t\t\t\t    border-top:3px solid #ffffff;\n\t\t\t\t    box-shadow: 20px 20px 35px -5px rgba(39,55,74,.75), 0 15px 40px 10px rgba(39, 55, 74, 0.25);\n\t\t\t\t    font-size:16px;\n\t\t\t\t    line-height:20px;\n\t\t\t\t    letter-spacing:normal;\n\t\t\t\t    text-transform: initial;\n\t\t\t\t}\n\n\t\t\t\t\n\t\t\t\tpushbox noticon{\n\t\t\t\t    width:25%;\n\t\t\t\t    float:left;\n\t\t\t\t    display: block;\n\t\t\t\t    margin:0 auto;\n\t\t\t\t    text-align: center;\n\t\t\t\t}\n\n\t\t\t\tpushbox noticon img{\n\t\t\t\t\twidth:75px;\n\t\t\t\t\theight:75px;\n\t\t\t\t\tborder:2px solid #E9E9E9;\n\t\t\t\t}\n\n\t\t\t\t\n\t\t\t\tpushbox notibody{\n\t\t\t\t    width:72%;\n\t\t\t\t    float:left;\n\t\t\t\t    text-align:left;\n\t\t\t\t    font-size:16px;\n\t\t\t\t    padding-left:10px;\n\t\t\t\t}\n\n\t\t\t\tpushbox noticlose{\n\t\t\t\t    position:absolute;\n\t\t\t\t    right:15px;\n\t\t\t\t    top:15px;\n\t\t\t\t    color:#C9C9C9;\n\t\t\t\t    cursor: pointer;\n\t\t\t\t    z-index:1000201;\n\t\t\t\t}\n\n\t\t\t\tpushbox pushbox-cta buttons{\n\t\t\t\t  position:relative;\n\t\t\t\t  display:inline-block;\n\t\t\t\t  clear:both;\n\t\t\t\t  width:100%;\n\t\t\t\t  font-size:16px;\n\t\t\t\t  padding-top:10px;\n\t\t\t\t  padding-bottom:10px;\n\t\t\t\t}\n\n\t\t\t\tpushbox pushbox-cta buttons button-approve, pushbox pushbox-cta buttons button-deny{\n\t\t\t\t    display:inline-block; \n\t\t\t\t    margin-top:10px;\n\t\t\t\t    float:right;\n\t\t\t\t    margin-right:10px;\n\t\t\t\t    min-width: 75px\n\t\t\t\t}\n\n\t\t\t\tpushbox teaser{\n\t\t\t\t    font-weight:700;\n\t\t\t\t    font-size:17px;\n\t\t\t\t    color: #000000;\n\t\t\t\t    padding-bottom:7px;\n\t\t\t\t}\n\n\t\t\t\tpushbox teaser, pushbox teaser-byline{\n\t\t\t\t  display:block;\n\t\t\t\t  position:relative;\n\t\t\t\t}\n\n\t\t\t\tpushbox teaser-byline{\n\t\t\t\t    color: #000000;\n\t\t\t\t}\n\n\t\t\t\tpushbox button-approve,pushbox button-deny{\n\t\t\t\t  cursor: pointer;\n\t\t\t\t  transition: all 60ms ease-in-out;\n\t\t\t\t  text-align: center;\n\t\t\t\t  white-space: nowrap;\n\t\t\t\t  color: #fff;\n\t\t\t\t  border: 0 none;\n\t\t\t\t  border-radius: 4px;\n\t\t\t\t  padding:5px 10px;\n\t\t\t\t}\n\n\t\t\t\tpushbox img._aimtellBell{\n\t\t\t\t  margin:0 auto;\n\t\t\t\t  cursor:pointer;\n\t\t\t\t}\n\t\t\t\t\n\t\t\t\t\n\t\t\t\tpushbox powered{\n\t\t\t\t  font-size:14px;\n\t\t\t\t  padding:5px 0px;\n\t\t\t\t  text-align:left;\n\t\t\t\t  display:inline-block;\n\t\t\t\t  margin-left:10px;\n\t\t\t\t  margin-top:8px;\n\t\t\t\t  opacity:0.5;\n\t\t\t\t}\n\n\t\t\t\tpushbox powered svg{\n\t\t\t\t\twidth:14px;\n\t\t\t\t\tfill: #000;\n\t\t\t\t\tposition:relative;\n\t\t\t\t\ttop:3px;\n\t\t\t\t}\n\n\t\t\t\tpushbox powered a, pushbox powered a:hover{\n\t\t\t\t\t color: #000;\n\t\t\t\t}\n\n\n\n\t\t\t\tpushbox ._aimtellPromptApprove{\n\t\t\t\t  background-color: #ffffff;\n\t\t\t\t  color:#4e99cf;\n\t\t\t\t}\n\t\t\t\t\n\t\t\t\tpushbox ._aimtellPromptDeny{\n\t\t\t\t  background-color: #ffffff;\n\t\t\t\t  color:#4e99cf;\n\t\t\t\t}  \n\t\t\t\t@media only screen and (max-device-width: 720px) and (orientation: landscape){\n\t\t\t\t\tpushbox{\n\t\t\t\t\t\tdisplay:none;\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\t@media (max-width: 480px){\n\t\t\t\t\t pushboxcontainer{\n\t\t\t\t\t    left:0px !important;\n\t\t\t\t\t } \n\t\t\t\t\t \n\t\t\t\t\t pushbox{\n\t\t\t\t\t    border-radius: 0px !important;\n\t\t\t\t\t    width:initial;\n\t\t\t\t\t    position:fixed !important;\n\t\t\t\t\t    bottom: 0px !important;\n\t\t\t\t\t    min-height:150px;\n\t\t\t\t\t    padding-top:10px;\n\t\t\t\t\t    box-shadow: none;\n\n\t\t\t\t\t }\n\n\t\t\t\t\t pushbox-cta{\n\t\t\t\t\t \tdisplay:block;\n\t\t\t\t\t \tpadding-top:10px;\n\t\t\t\t\t }\n\n\t\t\t\t\t pushbox teaser, pushbox teaser-byline, pushbox pushbox-cta buttons{\n\t\t\t\t  \t\tfont-size:14px;\n\t\t\t\t\t}\n\n\t\t\t\t\n\t\t\t\t\tpushbox noticon img{\n\t\t\t\t\t\twidth:65px;\n\t\t\t\t\t\theight:65px;\n\t\t\t\t\t\tborder:2px solid #E9E9E9;\n\t\t\t\t\t}\n\n\t\t\t\t\tpushbox powered{\n\t\t\t\t\t  font-size:10px;\n\t\t\t\t\t  margin-top:9px;\n\t\t\t\t\t}\n\n\t\t\t\t}\n\t\t\t\t</style><div id='aimtellPrompt_overlay'><pushboxcontainer id='pushboxcontainer'>\n\t\t\t\t<img style='position:absolute; visibility:hidden' height='0' width='0' src='https://analytics.aimtell.com/prompt-view?id_site=147&prompt_type=3&prompt_id=3793'>\n\t\t\t\t    <pushbox>\n\t\t\t\t      <pushbox-cta>\n\t\t\t\t        <noticon class='_aimtellBell'>\n\t\t\t\t\t\t\t<img src='https://cdn.aimtell.io/user/uploads/147-1588184063.png'>\n\t\t\t\t        </noticon>\n\t\t\t\t        \n\t\t\t\t        <notibody>\n\t\t\t\t            <teaser>Want updates?</teaser>\n\t\t\t\t            <teaser-byline>Get the latest and greatest</teaser-byline>\n\t\t\t\t        </notibody>\n\t\t\t\t        <buttons>\n\t\t\t\t        \t<powered><a target='_BLANK' href='https://aimtell.com/liked-our-push-notification-widget?domain=website.com&utm_source=aimtell&utm_medium=prompt&utm_campaign=147&utm_content=type-3'><svg enable-background='new 0 0 512 512' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'><path d='m400.27 175.6c-1.399-3.004-4.412-4.932-7.731-4.932h-101.12l99.797-157.57c1.664-2.628 1.766-5.956 0.265-8.678-1.502-2.731-4.37-4.421-7.476-4.421h-136.53c-3.234 0-6.187 1.826-7.637 4.719l-128 256c-1.323 2.637-1.178 5.777 0.375 8.294 1.562 2.517 4.301 4.053 7.262 4.053h87.748l-95.616 227.09c-1.63 3.883-0.179 8.388 3.413 10.59 1.382 0.845 2.918 1.254 4.446 1.254 2.449 0 4.864-1.05 6.537-3.029l273.07-324.27c2.141-2.542 2.602-6.092 1.203-9.104z'/></svg> by Aimtell</a></powered>\n\t\t\t\t        \t<button-approve onclick='_aimtellPromptApprove()' class='_aimtellPromptApprove'>Yes, please</button-approve>\n\t\t\t\t        \t <button-deny onclick='_aimtellPromptDeny()' class='_aimtellPromptDeny'>No, thanks</button-deny>  \n\t\t\t\t         </buttons>\n\t\t\t\t\t\t\n\t\t\t\t      </pushbox-cta>\n\t\t\t\t    </pushbox>\n\t\t\t\t</pushboxcontainer></div>"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "123"
                    },
                    "uid": {
                      "type": "string",
                      "example": "12abcd3456e7"
                    },
                    "idSite": {
                      "type": "string",
                      "example": "147"
                    },
                    "name": {
                      "type": "string",
                      "example": "Prompt 1"
                    },
                    "header_text": {
                      "type": "string",
                      "example": "Want updates?"
                    },
                    "header_text_color": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "body_text": {
                      "type": "string",
                      "example": "Get the latest and greatest"
                    },
                    "body_text_color": {
                      "type": "string",
                      "example": "#000000"
                    },
                    "cancel_button_text": {
                      "type": "string",
                      "example": "No, thanks"
                    },
                    "cancel_button_text_color": {
                      "type": "string",
                      "example": "#4e99cf"
                    },
                    "cancel_button_color": {
                      "type": "string",
                      "example": "#ffffff"
                    },
                    "approve_button_text": {
                      "type": "string",
                      "example": "Yes, please"
                    },
                    "approve_button_text_color": {
                      "type": "string",
                      "example": "#4e99cf"
                    },
                    "approve_button_color": {
                      "type": "string",
                      "example": "#ffffff"
                    },
                    "active": {
                      "type": "string",
                      "example": "1"
                    },
                    "icon_url": {
                      "type": "string",
                      "example": "https://cdn.aimtell.io/user/uploads/147-1588184063.png"
                    },
                    "prompt_color": {
                      "type": "string",
                      "example": ""
                    },
                    "prompt_type": {
                      "type": "string",
                      "example": "3"
                    },
                    "prompt_position": {
                      "type": "string",
                      "example": ""
                    },
                    "prompt_sticky": {
                      "type": "string",
                      "example": "0"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2020-04-29 18:13:33"
                    },
                    "updatedAt": {
                      "type": "string",
[...]
