{
  "openapi": "3.1.0",
  "info": {
    "title": "segmentation",
    "version": "1.1"
  },
  "servers": [
    {
      "url": "https://api.aimtell.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "name": "X-Authorization-Api-Key",
        "in": "header",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/prod/segments/{idSite}": {
      "get": {
        "summary": "Get All Segments",
        "description": "Fetches all Segments for account",
        "operationId": "get-available-segments",
        "parameters": [
          {
            "name": "idSite",
            "in": "path",
            "description": "Site ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "idsegment": 245,
                        "owner": "76cedd11b19e",
                        "name": "Sample Segment #1 - Lives In California",
                        "definition": "region==California",
                        "idSite": 179,
                        "createdAt": "2015-12-28 17:54:42",
                        "updatedAt": "2015-12-28 17:54:42",
                        "deleted": 0
                      },
                      {
                        "idsegment": 246,
                        "owner": "76cedd11b19e",
                        "name": "Sample Segment #2 - Viewed Tutorial Video",
                        "definition": "eventCategory==video,eventAction==tutorial",
                        "idSite": 179,
                        "createdAt": "2015-12-28 17:54:42",
                        "updatedAt": "2015-12-28 17:54:42",
                        "deleted": 0
                      },
                      {
                        "idsegment": 5909,
                        "owner": "76cedd11b19e",
                        "name": "Campaign for people who click certain links",
                        "definition": "pageUrl==https://josephmurphybrasil.com/",
                        "idSite": 179,
                        "createdAt": "2017-01-02 18:50:54",
                        "updatedAt": "2017-01-02 18:52:39",
                        "deleted": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      }
    },
    "/prod/segment/{id}": {
      "get": {
        "summary": "Get Segment",
        "description": "Fetches a specific Segment",
        "operationId": "get-segment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Segment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "idsegment": 245,
                      "owner": "76cedd11b19e",
                      "name": "Sample Segment #1 - Lives In California",
                      "definition": "region==California",
                      "idSite": 179,
                      "createdAt": "2015-12-28 17:54:42",
                      "updatedAt": "2015-12-28 17:54:42",
                      "deleted": 0
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      },
      "put": {
        "summary": "Update Segment",
        "description": "Update a Specific Segment",
        "operationId": "update-segment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Segment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of Segment"
                  },
                  "definition": {
                    "type": "string",
                    "description": "Definition"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "idSegment": "24",
                      "message": "Successfully updated segment"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Error #136."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Please specify a valid auth_token."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      },
      "delete": {
        "summary": "Delete Segment",
        "description": "Delete a specific Segment",
        "operationId": "delete-segment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Segment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "idSegment": "5",
                      "message": "Successfully removed segment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Please specify a valid auth_token."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      }
    },
    "/segment/{segment_id}/shared": {
      "get": {
        "summary": "Get Shared Segments",
        "description": "Get segments shared across websites using a segment ID",
        "operationId": "get-shared-segments",
        "parameters": [
          {
            "name": "segment_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "idsegment": 999220,
                        "idSite": 90001,
                        "shared_id": "5ef57e0e054fc1d22b1d99ab"
                      },
                      {
                        "idsegment": 999221,
                        "idSite": 90002,
                        "shared_id": "5ef57e0e054fc1d22b1d99ab"
                      },
                      {
                        "idsegment": 999222,
                        "idSite": 90003,
                        "shared_id": "5ef57e0e054fc1d22b1d99ab"
                      },
                      {
                        "idsegment": 999223,
                        "idSite": 90004,
                        "shared_id": "5ef57e0e054fc1d22b1d99ab"
                      },
                      {
                        "idsegment": 999224,
                        "idSite": 90005,
                        "shared_id": "5ef57e0e054fc1d22b1d99ab"
                      },
                      {
                        "idsegment": 999225,
                        "idSite": 90006,
                        "shared_id": "5ef57e0e054fc1d22b1d99ab"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {}
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      }
    },
    "/prod/segments/": {
      "post": {
        "summary": "Create Segment",
        "description": "Create a NEW Segment",
        "operationId": "create-segment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idSite"
                ],
                "properties": {
                  "idSite": {
                    "type": "string",
                    "description": "Site ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of Segment",
                    "default": ""
                  },
                  "definition": {
                    "type": "string",
                    "description": "Definition",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success",
                      "message": "Successfully created",
                      "id": 88
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Error #139."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      }
    },
    "/prod/segment/{id}/results": {
      "get": {
        "summary": "Get Segment Counts Over Time",
        "description": "Fetches a specific Segment",
        "operationId": "api-get-segment-counts-over-time",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Segment ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Date as yyyy-mm-dd (i.e. 2019-12-07)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": ""
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Date as yyyy-mm-dd (i.e. 2019-12-14)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "12/07/2019": 29,
                      "12/08/2019": 29,
                      "12/09/2019": 28,
                      "12/10/2019": 28,
                      "12/11/2019": 32,
                      "12/12/2019": 27,
                      "12/13/2019": 30,
                      "12/14/2019": 30
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Segments"
        ]
      }
    },
    "/prod/subscribers/{id}": {
      "get": {
        "summary": "Get Subscribers",
        "description": "Fetches subscribers for a given site. Optionally filter by segment or a specific subscriber.",
        "operationId": "get-subscribers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Site ID",
            "schema": {
              "type": "integer"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip for pagination (offset).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Accepts `attributes`, `notifications`, or both as a comma-separated list (e.g. `attributes,notifications`).\n\nNote: the `read` field on notifications does not indicate impressions or delivery. It is used within the Notification Center (coming soon).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "segmentId",
            "in": "query",
            "description": "The ID of the segment you wish to filter by.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subscriberId",
            "in": "query",
            "description": "The specific subscriber ID to pull data for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "count": 8032,
                      "skip": 0,
                      "limit": 2,
                      "segmentId": null,
                      "filter": null,
                      "subscribers": [
                        {
                          "subscriberId": "001f6728-a026-5f78-1ae4-91966dc12638",
                          "deviceType": "desktop",
                          "browserName": "Chrome",
                          "operatingSystemCode": "Windows",
                          "browserLang": "en-GB",
                          "region": "Wigan",
                          "city": "Wigan",
                          "ip": "34.225.243.14",
                          "country": "United Kingdom",
                          "postal": "",
                          "idSite": "300",
                          "alias": {
                            "user": "mwilson_84",
                            "email_hash": "22c97d5b39c408d857dff71fe825bb1c"
                          },
                          "attributes": {
                            "username": "mwilson84",
                            "subscription_url": "https://example.com/blog/push-notifications-guide"
                          },
                          "createdAt": "2024-09-13 13:01:31",
                          "notifications": [
                            {
                              "title": "Welcome to Aimtell",
                              "body": "Thanks for subscribing! Check out our latest features.",
                              "icon": "https://cdn.aimtell.io/user/uploads/siteicons.aimtell.com/icon_300_1497911257.png",
                              "link": "https://aimtell.com/welcome",
                              "read": "1",
                              "timestamp": 1726232722
                            }
                          ]
                        },
                        {
                          "subscriberId": "00274db4-4fe3-c15d-4898-e55887411179",
                          "deviceType": "desktop",
                          "browserName": "Chrome",
                          "operatingSystemCode": "Mac OS X",
                          "browserLang": "en-US",
                          "region": "Colorado",
                          "city": "Denver",
                          "ip": "73.92.148.201",
                          "country": "United States",
                          "postal": "80202",
                          "idSite": "300",
                          "alias": {
                            "user": "jsmith_denver",
                            "email_hash": "a7f3c2e9b48d5116f0c71d8e4b2a9c05"
                          },
                          "attributes": {
                            "username": "jsmith_denver",
                            "subscription_url": "https://example.com/deals/holiday-2024"
                          },
                          "createdAt": "2024-11-21 15:53:15",
                          "notifications": [
                            {
                              "title": "Black Friday Sale",
                              "body": "Our biggest sale of the year is live now.",
                              "icon": "https://cdn.aimtell.io/user/uploads/siteicons.aimtell.com/icon_300_1497911257.png",
                              "link": "https://aimtell.com/black-friday-sale-customers",
                              "read": "0",
                              "timestamp": 1732892400
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Invalid token.",
                      "error_code": 71831
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Subscribers"
        ]
      }
    },
    "/prod/subscriber": {
      "post": {
        "summary": "Track Subscriber Attribute",
        "description": "Track Subscriber Attribute",
        "operationId": "api-track-subscriber-attribute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "idSite"
                ],
                "properties": {
                  "idSite": {
                    "type": "string",
                    "description": "Website ID"
                  },
                  "subscriber_uid": {
                    "type": "string",
                    "description": "Aimtell Subscriber ID"
                  },
                  "user": {
                    "type": "string",
                    "description": "Subscriber \"User\" Alias"
                  },
                  "email": {
                    "type": "string",
                    "description": "Subscriber \"Email\" Alias"
                  },
                  "attributes": {
                    "type": "string",
                    "description": "JSON",
                    "default": "",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Error #136."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "result": "error",
                      "message": "Please specify a valid auth_token."
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl -XPOST -H 'X-Authorization-Api-Key: API_KEY' -H \"Content-type: application/json\" -d '{\n    \"idSite\": \"1\",\n    \"subscriber_uid\": \"5059b0a2-747d-0f74-73c4-24c8442de237\",\n    \"attributes\": {\n        \"first_name\" : \"jeff\",\n        \"gender\" : \"male\"\n    }\n}' 'https://api.aimtell.com/prod/subscriber/'",
              "name": "CURL (using subscriber_uid)"
            },
            {
              "language": "curl",
              "code": "curl -XPOST -H 'X-Authorization-Api-Key: API_KEY' -H \"Content-type: application/json\" -d '{\n    \"idSite\": \"1\",\n    \"user\": \"jeffdunham12\",\n    \"attributes\": {\n        \"first_name\" : \"jeff\",\n        \"gender\" : \"male\"\n    }\n}' 'https://api.aimtell.com/prod/subscriber/'",
              "name": "CURL (using user alias)"
            },
            {
              "language": "curl",
              "code": "curl -XPOST -H 'X-Authorization-Api-Key: API_KEY' -H \"Content-type: application/json\" -d '{\n    \"idSite\": \"1\",\n    \"email\": \"jeff@dunham.com\",\n    \"attributes\": {\n        \"first_name\" : \"jeff\",\n        \"gender\" : \"male\"\n    }\n}' 'https://api.aimtell.com/prod/subscriber/'",
              "name": "CURL (using email alias)"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        },
        "tags": [
          "Subscribers"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Segments",
      "description": "Audience segmentation"
    },
    {
      "name": "Subscribers",
      "description": "Subscriber management and tracking"
    }
  ]
}